<!DOCTYPE html>
{% load static %}
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content="description of your site" />
    <meta name="author" content="author of the site" />
    <title>show playlist</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/toastr.css" />
    <link rel="stylesheet" href="../static/css/fullcalendar.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.knob.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/jquery.sparkline.min.js"></script>
    <script src="../static/js/toastr.js"></script>
    <script src="../static/js/jquery.tablesorter.min.js"></script>
    <script src="../static/js/jquery.peity.min.js"></script>
    <script src="../static/js/fullcalendar.min.js"></script>
    <script src="../static/js/gcal.js"></script>
    <script src="../static/js/setup.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>
<div id="in-nav">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="pull-right">

              <li><a href="/login"><font color = "black">Logout</font></a></li>
            </ul><a id="logo" href="/student_homepage">
              <h4 align="left">COURSE<strong>Admin</strong></h4></a>
          </div>
        </div>
      </div>
    </div>
    <div id="in-sub-nav">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul>
              <li><a href="/student_homepage"><i class="batch home"></i><br />Back</a></li>
              <li><a href="/student_course"><i class="batch home"></i><br />COURSES</a></li>
              <li><a href="/student_certification"><i class="batch stream"></i><br />CERTIFICATIONS</a></li>
              <li><a href="/student_account_history"><i class="batch plane"></i><br />ORDER HISTORY</a></li>
              <li><a href="/student_course_material"><i class="batch forms"></i><br />MATERIALS</a></li>
              <li><a href="/student_playlist"><i class="batch settings"></i><br />PLAYLISTS</a></li>
              <li><a href="/student_select_playlist"><i class="batch caption"></i><br />SELECT PLAYLISTS</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <div class="page">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="span12">
                 <h3 class="header" align="center">Show Playlist</h3>

                    <table class="table table-striped sortable">
                        <thead>
                        <tr>
                            <th><h4><b>Material ID</b></h4></th>
                            <th><h4><b>Material Name</b></h4></th>
                        </tr>
                        </thead>
                        <tbody>
                             {% for line in playlist %}
                                  <tr>
                                      <td>{{ line.material.material_id}}</td>
                                      <td>{{ line.material.name}}</td>
                                  </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="pull-right">by Group 4</p>

          </div>
        </div>
      </div>
    </footer>


</body>
</html>


